<%= javascript_include_tag "ping" %>
<%= javascript_tag do %>
	$("#ping").click(function() {
		Pinger.getPing("<%= path_to_javascript "ping" %>", function(lag){
			$("#ping_result_lag_ms").val(lag);
		});});
<% end %>

<%= form_for(@ping_result) do |f| %>
  <% if @ping_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ping_result.errors.count, "error") %> prohibited this ping_result from being saved:</h2>

      <ul>
      <% @ping_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lag_ms %><br>
    <%= f.text_field :lag_ms %>
    <a href="#" id="ping">Ping!</a>
  </div>
  <div class="field">
    <%= f.label :src_addr %><br>
    <%= f.text_field :src_addr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
