<p id="notice"><%= notice %></p>

<h1>Listing Ping Results</h1>

<table>
  <thead>
    <tr>
      <th>Lag ms</th>
      <th>Src addr</th>
      <th>User agent</th>
      <th>Location id</th>
      <th>Server location id</th>
      <th>Protocol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ping_results.each do |ping_result| %>
      <tr>
        <td><%= ping_result.lag_ms %></td>
        <td><%= ping_result.src_addr %></td>
        <td><%= ping_result.user_agent %></td>
        <td><%= ping_result.location_id %></td>
        <td><%= ping_result.server_location_id %></td>
        <td><%= ping_result.protocol %></td>
        <td><%= link_to 'Show', ping_result %></td>
        <td><%= link_to 'Edit', edit_ping_result_path(ping_result) %></td>
        <td><%= link_to 'Destroy', ping_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ping result', new_ping_result_path %>
