<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ping_result.id %>
</p>

<p>
  <strong>Lag ms:</strong>
  <%= @ping_result.lag_ms %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @ping_result.user_agent %>
</p>

<p>
  <strong>Location id:</strong>
  <%= link_to @ping_result.location_id, @ping_result.location %>
</p>

<p>
  <strong>Server location id:</strong>
  <%= link_to @ping_result.server_location_id, Location.find(@ping_result.server_location_id) %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @ping_result.protocol %>
</p>

<%= link_to 'Edit', edit_ping_result_path(@ping_result) %> |
<%= link_to 'Back', ping_results_path %>
