<p id="notice"><%= notice %></p>

<p>
  <strong>Lag ms:</strong>
  <%= @ping_result.lag_ms %>
</p>

<p>
  <strong>Src addr:</strong>
  <%= @ping_result.src_addr %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @ping_result.user_agent %>
</p>

<p>
  <strong>Location id:</strong>
  <%= @ping_result.location_id %>
</p>

<p>
  <strong>Server location id:</strong>
  <%= @ping_result.server_location_id %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @ping_result.protocol %>
</p>

<%= link_to 'Edit', edit_ping_result_path(@ping_result) %> |
<%= link_to 'Back', ping_results_path %>
