<p id="notice"><%= notice %></p>

<p>
  <strong>Lag ms:</strong>
  <%= @ping_result.lag_ms %>
</p>

<p>
  <strong>Src addr:</strong>
  <%= @ping_result.src_addr %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @ping_result.user_agent %>
</p>

<%= link_to 'Edit', edit_ping_result_path(@ping_result) %> |
<%= link_to 'Back', ping_results_path %>
