<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @location.host %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<table>
  <thead>
    <tr>
      <th>Lag ms</th>
      <th>Ping result id</th>
    </tr>
  </thead>

  <tbody>
    <% @location.ping_results.each do |ping_result| %>
      <tr>
        <td><%= ping_result.lag_ms %></td>
        <td><%= link_to ping_result.id, ping_result %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
